<!DOCTYPE>
<html>
<head>
    <title>GloballyPaid Charge Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>

<body>
<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>GloballyPaid Charge Example</h1>

        <div class="example" id="example1"></div>

        <div id="feedback" hidden="true"></div>
    </div>

</div>

<div class="container">
    <footer>
        <p>
            © <a href="https://sandbox.docs.globallypaid.com/">GloballyPaid</a> 2020
        </p>
    </footer>
</div>

<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/@globallypaid/js-sdk@latest"></script>

<script type="text/javascript" src="js/main.js"></script>
</body>
</html>